.description{
    max-width: 700px;
}

.description h2{
    font-weight: bold;
    margin-bottom:8px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.price .newPrice{
    font-weight: bold;
    color: red;
    font-size:1.5rem;
    margin-bottom:2px;
}
.price .oldPrice{
    text-decoration: line-through;
    font-size: 1.1rem;
}
.details{
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: italic;
    font-size:1.1rem;
}
.details label{
    margin-top:8px;
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.details input{
    width:50px;
    text-align: center;
}
.addCart{
    margin-bottom: 8px;
}
.addCart button{
    margin-top:10px;
}
.tags p{
    font-weight: bold;
    margin-bottom:5px;
    padding-right:10px;
    border-right:1px solid black;
}
.error{
    color: red;
    margin-left:20px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .description{
        width: 100%;
    }
}