.new-arrival{
    text-align: center;
    padding-top:100px;
    padding-bottom:50px;
    height:100%;
    overflow: hidden;
}
h1{
    padding-bottom:50px;
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
    .new-arrival{
        height:100%;
    }
    .col{
        margin-top:10px;
    }
}