.product{
    padding:80px 50px;
}
.product-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom:150px;
    padding:5px 10px;
}
nav{
    --bs-breadcrumb-divider: '>';
    margin-bottom:40px;
}

@media only screen and (max-width: 1000px) {
    .product-body{
        flex-wrap: wrap;
    }
    .product{
        padding:80px 20px;
    }
}