.cartTotal{
    width:400px;
}
.checkout{
    box-shadow:1px 1px 10px black;
    padding:40px 10px;
    border-radius:20px;
}
.checkout .title{
    font-size:1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.totalDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.total button{
    margin-top:5px;
    width:100%;
    border-radius:20px;
}
.promo{
    margin-top:50px;
}
.promo label{
    font-weight: bold;
    font-size:.8rem;
}
.promo input{
    width:150px;
    margin-left:5px;
}
.promo button{
    margin-top:0;
    margin-left:5px;
}


/* .total h4{
    font-weight: bold;
}
.total-cal-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:350px;
    border-bottom:1px solid black;
}
.total button{
    margin-top:5px;
}
.coupon input{
    width:200px;
    border-radius: 15px;
    border-style:solid;
    margin:2px 5px;
    padding:10px 5px;
    background-color: rgb(182, 182, 182);
}
.coupon p{
    font-weight: bold;
    font-size:1rem;
}
.coupon button{
    margin-top:0;
}

@media only screen and (max-width: 800px) {
    
    .total-cal-sub{
        width:150px;
    }
    .coupon p{
        font-size:0.9rem;
    }
    .coupon input{
        width:100px;
        padding:5px 2px;
    }

} */