.cartTotal{
    width:400px;
}
.checkout{
    box-shadow:1px 1px 10px black;
    padding:40px 10px;
    border-radius:20px;
}
.checkout .title{
    font-size:1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.totalDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.total button{
    margin-top:5px;
    width:100%;
    border-radius:20px;
}
.promo{
    margin-top:50px;
}
.promo label{
    font-weight: bold;
    font-size:.8rem;
}
.promo input{
    width:150px;
    margin-left:5px;
}
.promo button{
    margin-top:0;
    margin-left:5px;
}
