
.hero{
    padding:100px;
    /* background-color: #E6BE8A; */
    /* background-color: #ffe5ca; */
    background-color: #e8c99b;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);

}
.hero-left{
    margin:auto;
}
.hero-left h3{
    text-align: center;
    padding-left:20px;
    width:500px;
    text-align: left;
    font-size: 4rem;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hero-left p{
    width:100%;
    margin-bottom:50px;
}
.hero-left a{
    text-decoration: none;
    font-weight: bold;
    margin-top:20px;
}
@media only screen and (max-width: 912px) {
    .hero{
        padding:50px;
    }
    .hero-left h3{
        width:100%;
        text-align: center;
    }
    .hero-left a{
        margin-top:0px;
        margin-bottom:10px;
    }
    .hero-right img{
        width:80%;
    }
}
@media only screen and (max-width: 500px) {
    .hero-left h3{
        font-size:2rem;
    }
}
