.All-section{
    overflow: hidden;
    padding-top:100px;
    padding-bottom:50px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
    background-color: #11235A;
    color: white;
    height:100%;
}
.h1-new{
    width: 100vw;
    margin: auto;
    text-align: center;
    font-size:8rem;
    white-space: nowrap;
    font-weight:800;
}
.h1-men{
    width: 100vw;
    margin: auto;
    text-align: center;
    font-size:8rem;
    white-space: nowrap;
}
.h1-women{
    width: 100vw;
    margin: auto;
    text-align: center;
    font-size:6rem;
    white-space: nowrap;
}
.row{
    justify-content: center;
    align-items: center;
    width:100%;
}
hr{
    margin: auto;
    width:60px;
    height:10px;
    border: none;
    background-color: black;
}
button{
    margin-top:50px;
}

@media only screen and (max-width: 991px) {
    .All-section{
        height:100%;
    }
    .row{
        gap:3rem;
    }
    
}

@media only screen and (max-width: 768px) {
    .h1-new, .h1-men, .h1-women{
        font-size: 5.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .h1-new, .h1-men, .h1-women{
        font-size: 4.5rem;
    }
}