.category{
    display: flex;
    flex-direction: row;
    max-width:1300px;
    margin: 0 auto;
    padding:1px 30px;
}
.sort-section{
    width:200px;
}
.sort-section h4{
    font-weight: bold;
    margin-bottom:20px;
}
.items{
    flex: 1;
}
.col-lg-4{
    height:400px;
    width:300px;
}
.sort{
    display: block;
    font-weight: bold;
    font-size:1.2rem;
    margin-bottom:20px;
}
.sort label{
    margin-right:10px;
}


@media only screen and (max-width: 912px) {
    .category{
        padding:1px 10px;
        flex-direction: column;
    }
    .sort{
        font-size:0.5rem;
        display: inline-block;
        margin-left:15px;
        text-align: center;
    }
    .sort-section{
        width:100%;
    }
    .sort label{
        margin-right:2px;
        font-size:0.6rem;
    }
}    