.category{
    display: flex;
    flex-direction: row;
    max-width:1300px;
    margin: 0 auto;
    padding:60px 30px;
    background-color: #faf2e3;
    background-image: linear-gradient(315deg, #faf2e3 0%, #f3e7d3 74%);
}
.sort-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-width:180px;
    height:500px;
    border:1px solid #230600;
    border-radius: 20px;
    padding:0 20px;
    background-image: linear-gradient(315deg, #faf2e3 0%, #f5e4c7 74%);
    color: #230600;
}
.sort-section h2{
    font-size:1.3rem;
}
.sort-section h4{
    font-size:1rem;
    font-weight: bold;
}
.items{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   max-width: 1500px;
}
.col-lg-4{
    height:400px;
    width:300px;
}
.sort{
    display: block;
    font-size:0.9rem;
    margin-bottom:15px;
}
.sort label{
    margin-right:10px;
}

.pagination{
    text-align: center;
    margin: 0 auto;
    width: 180px;
}
.pagination ul, .pagination ul li span{
    margin: 0;
    color: #230600;
}
.pagination ul li span:hover{
    cursor: pointer;
    background-color:tan;
    color: black;
}


@media only screen and (max-width: 912px) {
    .category{
        padding:1px 10px;
        flex-direction: column;
    }
    .sort{
        font-size:0.5rem;
        display: inline-block;
        margin-left:5px;
        margin-bottom: 0px;
        text-align: center;
    }
    .sort-section{
        max-width:450px;
        height:100%;
        padding:5px 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        margin: 10px auto;
    }
    .sort-type{
        display: flex;
        flex-wrap: wrap;
    }
    .sort-section h4{
        font-size:0.7rem;
    }
    .sort-section h2{
        font-size:0.9rem;
    }
    .sort label{
        margin-right:2px;
        font-size:0.6rem;
    }
}    

@media only screen and (max-width: 450px) {
    .category{
        padding:1px;
    }
    .sort-section{
        padding:10px 20px;
    }
}
