.navbar{
    /* background-color: #E6BE8A; */
    /* background-color: #FFCF9D; */
    background-color: #e8c99b;
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
    margin-bottom: 0;
}
.container-fluid{
    padding:5px 50px;
}
.navbar-nav{
    margin: auto;
    text-align: center;

}
.navbar-brand{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.nav-item{
    padding:10px 2px;
    width:70px;
    text-align: center;
}
.nav-actions{
    display: flex;
    width:200px;
    justify-content: center;
    align-items: center;
}
.nav-actions p{
    display: inline-block;
    margin-bottom:0;
    text-align: center;
}
.nav-actions .cart-count{
    width:50px;
    padding-top:10px;
    color: rgb(192, 0, 0);
}
.nav-actions .cart-count:hover{
    font-size:1.4rem;
}
.nav-actions button, .nav-actions a{
    margin-top:0;
    background-color: transparent;
    border: none;
    font-weight: bold;
    width: 100px;
    text-align: right;
}
.dropdown-toggle{
    font-weight: bold;
    text-transform: uppercase;
}
.dropdown-menu button{
    margin-top: 0;
    text-align: right;
    margin-left:15px;
}
.navbar-nav li, .nav-actions span, .nav-actions p{
    transition: font-size 0.3s;
}
.navbar-nav li:hover, .nav-actions p:hover{
    cursor: pointer;
    font-size:1.2rem;
}
.nav-link, .nav-actions p, a{
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: italic;
}
a{
    text-decoration: none;
    color: black;
}
.active{
    color: white;
}

@media only screen and (min-width: 992px) {
    .navbar-nav{
        height:50px;
    }

}
@media only screen and (max-width: 991px) {
    .nav-actions{
        align-items: start;
        flex-direction: column;
    }
    .nav-actions p{
        text-align: left;
        margin-top:5px;
    }
    .nav-actions button{
        padding: 0;
    }
    .navbar-toggler{
        margin-top:15px;
    }
    .navbar-nav a{
        text-align: left;
    }
    .dropdown-menu a, .dropdown-menu button{
        padding-left:20px;
    }
    .nav-item{
        text-align: left;
    }
    .nav-actions button, .nav-actions a{
        text-align: left;
    }
    .dropdown-menu button{
        margin-left:0;
    }
}