.cartItem{
    padding:20px 5px;
}
.cartItem-body{
    justify-content:start;
}
.cart-image{
    width:150px;
}
.cartItem-body button{
    height:30px;
    width:70px;
    font-size:0.7rem;
}

@media only screen and (max-width: 800px) {
    .cartItem{
        padding:20px 2px;
    }
    .cart-image{
        width:60px;
        height:30px;
    }
    .cartItem-body p{
        font-size:0.5rem;
    }
    .cartItem-body button{
        height:30px;
        width:50px;
        font-size:0.6rem;
    }
}