.footer-main{
    /* background-color: #e8c99b; */
    background-color: #faf2e3;
    background-image: linear-gradient(315deg, #faf2e3 0%, #faf2e3 74%);
    color: #230600;
    border-top:1px solid #230600;
}
.footer{
    /* background-color: #E6BE8A; */
    /* background-color: #ffe5ca; */
    background-color: #faf2e3;
    background-image: linear-gradient(315deg, #faf2e3 0%, #faf2e3 74%);
    max-width:1500px;
    margin:0 auto;
}
.contact-us{
    display: flex;
    flex-direction: row;
    gap:80px;
    flex-wrap: wrap;
    justify-content: center;
    padding:80px 50px;
}

.title, .marketing{
    max-width:100%;
    text-align: center;
    margin-top:20px;
}
.follow-us, .call-us{
    text-align: center;
    margin-top:20px;
    max-width:100%;
}
.title h3{
    font-weight: bold;
    font-size:2rem;
    margin-bottom: 0;
}
.title p{
    font-style: italic;
    font-size:0.7rem;
    margin:1px 2px;
    display: block;
}
.marketing p{
    display: block;
    font-weight: bold;
    font-size:1.2rem;
}
.marketing input{
    border-style: solid;
    border-radius:20px;
    padding:5px 10px;
    margin-right:5px;
    background-color: rgb(49, 49, 49);
    color: white;
    margin-top:5px;
}
.marketing button{
    margin-top:0px;
}
.follow-us{
    text-align: center;
}
.follow-us p{
    font-weight: bold;
    margin-bottom:2px;
    padding-left:5px;
    font-size:1.2rem;
}
.follow-us .social-link{
    display: block;
}
.call-us p{
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom:5px;
    font-size:1.2rem;
}
.copyright{
    margin-top:40px;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 550px) {
    .contact-us{
        gap:40px;
    }
}

