.card{
    width:17rem;
    transition:width 0.3s;
    /* box-shadow: 1px 1px 15px #E6BE8A; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.171);
    text-align: center;
    margin:1px auto;
    cursor: pointer;
    background-color: transparent;
    color: #230600;
    border:0.5px solid #23060036;
}
.card-body{
    padding:1px 5px;
}
.img-container{
    max-width: 17rem;
    height: 179px;
    overflow: hidden;
}
.card img{
    max-width: 100%;
}
.card-title{
    font-weight: bold;
    text-transform: uppercase;
}
p{
    display: inline-block;
    margin-right:5px;
}
.new-price, .old-price{
    font-size: 1.5rem;
}
.card-text{
    display: block;
    font-size:0.9rem;
    margin-bottom: 0;
    color: #5e5250;
}
.new-price{
    margin-bottom: 0;
}
.reviews p{
    font-size:0.8rem;
    margin: 0;
}