.card{
    width:17rem;
    transition:width 0.3s;
    /* box-shadow: 1px 1px 15px #E6BE8A; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.171);
    margin:1px 5px;
    cursor: pointer;
}
.card-body{
    padding:1px 5px;
}
.img-container{
    max-width: 17rem;
    height: 179px;
    overflow: hidden;
}
.card img{
    max-width: 100%;
}
.card-title{
    font-weight: bold;
    text-transform: uppercase;
}
.card-link+.card-link{
    margin-left:0;
}
p{
    display: inline-block;
    margin-right:5px;
}
.card-text{
    display: block;
    margin-bottom: 0;
}