.card{
    width:18rem;
    transition:width 0.3s;
    /* box-shadow: 1px 1px 15px #E6BE8A; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.171);
    margin:1px 5px;
}
.card-title{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;
    width:18.5rem;
}
.card-link+.card-link{
    margin-left:0;
}
p{
    display: inline-block;
    margin-right:5px;
}
.card-text{
    display: block;
    margin-bottom: 0;
}