.banner{
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:1px 10px;
    max-width:1200px;
    /* box-shadow:2px 2px 10px #E6BE8A; */
    box-shadow:2px 2px 10px #e8c99b;
    border-radius:15px;
    margin:50px auto;
}

.banner-left{
    font-weight: bold;
    text-align: center;
}
.banner-left h2{
    font-weight: bold;
    font-size:4rem;
}
.banner-right{
    max-width:250px;
    text-align: center;
}
.banner-right img{
    width:100%;
    background-color: #dedede;
}

@media only screen and (max-width: 650px) {
    .category{
        padding:1px 10px;
    }
    .sort{
        font-size:0.5rem;
    }
    .sort-section{
        width:100px;
    }
    .banner-left{
        width: 100%;
    }
    .banner-left h2{
        font-size:2rem;
    }
    .banner-left p{
        font-size:1rem;
    }
} 